.cart-page {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  max-width: $max-width;
  margin: auto;
  &__products {
    padding: $padding;
  }
  &__detail {
    position: sticky;
    bottom: 0;
    left: 0;
    padding: $padding;
    background: var(--general-bg-color);
    h1 {
      display: none;
    }
  }
  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: var(--fs-title);
      color: var(--primary-color);
      font-weight: bold;
    }
  }
  &__products-container {
    display: grid;
    gap: $padding;
  }
  @include from-bp(m) {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    gap: $margin;
    align-items: start;
    &__detail {
      position: sticky;
      bottom: unset;
      top: calc(#{$header-height} + #{$padding * 2});
      h1 {
        display: block;
      }
    }
  }
}

// Producto en el carrito
.cart-product {
  display: grid;
  grid-template-columns: 25% 1fr auto;
  gap: $padding;
  padding: 0;
  height: fit-content;
  border: $border;
  position: relative;
  overflow: hidden;
  a {
    color: var(--content-color);
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--content-bg-color);
    position: relative;
    img {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__actions {
    align-self: center;
    padding: $padding;
    .im {
      font-size: var(--fs-subtitle);
    }
  }
  &__info {
    font-size: var(--fs-content);
  }
  &__title {
    font-size: var(--fs-subtitle);
    margin: 0;
    padding: 0;
  }
  &__remove-banner {
    position: absolute;
    display: grid;
    top: 100%;
    right: 0;
    width: 75%;
    height: 100%;
    background: var(--dark-bg-color);
    color: var(--contrast-color);
    padding: $padding;
    gap: $padding;
    transition: top 0.5s;
    h2,
    .subtitle {
      font-size: var(--fs-content);
      padding: 0;
      text-align: center;
      margin: 0;
    }
    .buttons-container {
      padding: 0;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &.remove &__remove-banner {
    top: 0;
  }
}
