.slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__controls button {
    position: absolute;
    top: 50%;
    left: $padding;
    transform: translateY(-50%);
    background: transparent;
    text-shadow: -3px 0 0 #000;
    animation: fadeIn 0.5s;
    .animation & {
      display: none;
    }
    &:last-child {
      left: unset;
      right: $padding;
      text-shadow: 3px 0 0 #000;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  &__link {
    text-decoration: none;
    color: var(--contrast-color);
  }
  &__slides {
    display: flex;
    flex-wrap: nowrap;
    &.next {
      animation: next 1s;
      @keyframes next {
        to {
          transform: translateX(-100%);
        }
      }
    }
    &.previous {
      animation: previous 1s;
      @keyframes previous {
        from {
          transform: translateX(-100%);
        }
      }
    }
  }
  &--slide {
    display: block;
    position: relative;
    min-width: 100%;
    transition: all ease 0.3s;
    &__img {
      display: block;
      width: 100%;
      max-height: 50vh;
      object-fit: cover;
      object-position: center;
    }
    &__content {
      position: absolute;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
      left: 0;
      bottom: 0;
      padding: $margin;
      padding-bottom: $padding;
      width: 100%;
      h1 {
        font-size: var(--fs-subtitle);
        font-weight: bold;
        color: var(--contrast-color);
        margin: 0;
        padding: 0;
        transition: opacity 0.5s;
        .animation & {
          opacity: 0;
        }
      }
      @media (min-width: $bp-m) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 0.5em;
        background: rgba(0, 0, 0, 0.5);
        background-clip: content-box;
        border: 1px solid var(--contrast-color);
        backdrop-filter: blur(3px);

        width: fit-content;
        height: fit-content;
        min-width: 70%;
        min-height: 70%;
        max-width: 95%;
        max-height: 95%;

        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          margin: 0;
          font-family: var(--ff-content);
          font-size: var(--fs-main-title);
          font-weight: normal;
          line-height: 1.1em;
          text-transform: uppercase;
          padding: $padding $margin;
          width: fit-content;
          color: var(--contrast-color);
          .animation & {
            opacity: 1;
          }
        }
      }
    }
  }
}
