*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: $zi-bg;
}

.im {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  line-height: 1em;
  color: inherit;
  &:not(:last-child) {
    margin-right: 0.5em;
  }
  &:not(:first-child) {
    margin-left: 0.5em;
  }
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button,
.button {
  display: flex;
  align-items: center;
  background: none;
  padding: $padding;
  background: var(--primary-color);
  color: var(--contrast-color);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--fs-content);
  &.icon {
    background: transparent;
    color: inherit;
    padding: 0;
  }
}

h1 {
  font-size: var(--fs-title);
  font-family: var(--ff-special);
  font-weight: normal;
  padding: $padding;
  margin-bottom: $margin;
}
