.container {
  display: block;
  padding: $padding;
  max-width: $max-width;
  margin: auto;
}
.fade-in {
  animation: fadeIn 1s;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  }
}
.iconify {
  display: inline-block;
  font-size: 1em;
  margin-left: 0.4em;
  font-weight: bold;
  .im {
    --space: 0.3em;
    font-size: 0.9em;
    line-height: 0.5em;
  }
  span {
    padding: 0;
    margin: 0;
  }
}
.buttons-container {
  display: flex;
  justify-content: center;
  gap: $padding;
  &.to-end {
    justify-content: end;
  }
}
