$bp-m: 40em;
$bp-lg: 64em;
$bp-xl: 90em;
$max-width: $bp-xl;

$border: 1px solid var(--metadata-color);
$padding: 10px;
$margin: $padding * 2;

$metadata-color: #7b7b7b;
$primary-color: #af1717;
$contrast-color: #fff;
$content-color: #222;
$dark-bg-color: #444;
$general-bg-color: #fff;
$content-bg-color: #f1f1f1;
$loader-color: rgba($primary-color, 0.5);
$footer-color: #615757;

$zi-bg: 0;
$zi-content: 1;
$zi-header: 100;
$zi-modal: 1000;

:root {
  --ff-special: 'Lora', serif;
  --ff-content: 'Poppins', sans-serif;
  --ff-icons: 'iconmonstr-iconic-font';

  --metadata-color: #{$metadata-color};
  --primary-color: #{$primary-color};
  --content-color: #{$content-color};
  --dark-bg-color: #{$dark-bg-color};
  --contrast-color: #{$contrast-color};
  --general-bg-color: #{$general-bg-color};
  --content-bg-color: #{$content-bg-color};
  --loader-color: #{$loader-color};
  --footer-color: #{$footer-color};

  --fs-metadata: 0.6875rem;
  --fs-content: 0.875rem; // 16px
  --fs-subtitle: 1.375em;
  --fs-title: 1.5625rem; // 25px
  --fs-main-title: 2.25rem; // 36px

  font-family: var(--ff-content);
  color: var(--content-color);
  @media (max-width: 400px) {
    --fs-main-title: 1.5625rem;
  }
}
