$breakpoints: (
  s: 0,
  m: 40rem,
  lg: 64rem,
  xl: 90rem,
);
$max-width: map-get(
  $map: $breakpoints,
  $key: xl,
);

$border: 1px solid var(--metadata-color);
$padding: 10px;
$margin: $padding * 2;

$metadata-color: #7b7b7b;
$primary-color: #af1717;
$contrast-color: #fff;
$content-color: #222;
$dark-bg-color: #444;
$general-bg-color: #fff;
$content-bg-color: #f1f1f1;
$loader-color: rgba($primary-color, 0.5);
$footer-color: #615757;

$zi-bg: -1;
$zi-content: 0;
$z-tooltip: 5;
$zi-header: 10;
$zi-menu: 100;
$zi-modal: 1000;

:root {
  --ff-special: 'Lora', serif;
  --ff-content: 'Poppins', sans-serif;
  --ff-icons: 'iconmonstr-iconic-font';

  --metadata-color: #{$metadata-color};
  --primary-color: #{$primary-color};
  --content-color: #{$content-color};
  --dark-bg-color: #{$dark-bg-color};
  --contrast-color: #{$contrast-color};
  --general-bg-color: #{$general-bg-color};
  --content-bg-color: #{$content-bg-color};
  --loader-color: #{$loader-color};
  --footer-color: #{$footer-color};

  --fs-metadata: 0.6875rem;
  --fs-content: 0.875rem; // 16px
  --fs-subtitle: 1.375em;
  --fs-title: 1.5625rem; // 25px
  --fs-main-title: 2.25rem;

  font-family: var(--ff-content);
  color: var(--content-color);
}
