// Alto del header
$header-height: calc(var(--fs-content) * 1.5 + #{$padding * 3});
#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
.main-header {
  display: block;
  width: 100%;
  position: sticky;
  z-index: $zi-header;
  top: 0;
  border-bottom: $border;
  background: var(--general-bg-color);
  &__container {
    max-width: $max-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding * 1.5 $padding;
  }
  &.active + .main-container {
    opacity: 0.2;
  }
  @media (min-width: $bp-lg) {
    .mobile-menu {
      display: none;
    }
    .main-menu {
      position: static;
      width: auto;
      height: unset;
      flex-direction: row;
      max-width: unset;
    }
    .main-menu__item:last-of-type .main-menu__link {
      margin-right: 0;
    }
    &.active + .main-container {
      opacity: 1;
    }
  }
}
.main-container {
  position: relative;
  transition: opacity 0.5s;
}
.mobile-menu {
  display: flex;
  gap: $padding * 1.5;
}
.main-menu {
  display: flex;
  flex-direction: column;
  gap: $margin;
  position: fixed;
  right: -80vw;
  top: calc(#{$header-height} + 1px);
  height: 100vh;
  max-height: calc(100vh - #{$header-height});
  overflow: auto;
  width: 80vw;
  max-width: 500px;
  background: var(--general-bg-color);
  transition: right 0.5s;
  &__link {
    display: flex;
    align-items: center;
    font-family: var(--ff-content);
    line-height: 1em;
    color: var(--content-color);
    padding: ($padding * 1.2) $margin;
    text-decoration: none;
    position: relative;
    &:hover {
      color: var(--primary-color);
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &.active {
      color: var(--primary-color);
    }
  }
  &__submenu {
    width: 90%;
    margin-left: auto;
  }
  .active & {
    right: 0;
  }
  @media (min-width: $bp-lg) {
    &__submenu {
      position: absolute;
      background: var(--general-bg-color);
      width: fit-content;
      box-shadow: 0 5px 10px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s;
    }
    &__item:hover &__submenu {
      max-height: 100vh;
    }
  }
}
.main-logo {
  height: calc(var(--fs-content) * 1.5);
}
